<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="author" content="tinyScrat">
  <meta name="description" content="tinyScrat's blog">
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/simple.min.css">
  <link rel="stylesheet" type="text/css" href="/site.css">
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>

  <main aria-role="main">
    {{ block "main" . }}{{ end }}
  </main>

  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
